*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: Poppins, sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color:#754ef9;
    --white-color:#fdfdfd;
    --shadow-color: rgba(0,0,0,0.2);
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    display: flex;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


section{
    display: block;
    min-height: 100vh;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}


.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
    cursor: pointer;
}


.navbar a{
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
    transition: 0.15s;
}

.navbar a:hover{
    color: var(--main-color);
}

.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a.active{
 color: var(--main-color);
}


.navbar a.active::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--main-color);
}


.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}



.swiper{
    margin-top: 150px;
    width: 100%;
    height: 120%;
    position: relative;
}




.swiper-wrapper{
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    margin-top: 250px;
}


.chalmers{
    margin-top: 100px;
}
.card{
  width: 30%;
    min-height: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}


.swiper-slide:not(.swiper-slide-active){
  filter: blur(1px);
}

.card_image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  padding: 3px;
  margin-bottom: 2em;
}


.card_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.card_content{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.card_title{
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: .2em;
}


.card_name{
    color: var(--main-color);
}

.card_text{
    padding: 12px;
    text-align: center;
    font-size: 1.5rem;
    margin: 1em 0;
}


.btn{
    display: inline-block;
    padding: 1rem 2.4rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color) ;
    font-size: 1.0rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border: .2rem solid transparent;
}


.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}


.contact-section{
    width: 100%;
    height:auto;
}

.contact-outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 40px;


}

.contact-text{
    margin-top: 5%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;

}

.contact-text p{
    text-align: center;
    font-size: 2rem;
}

.contact-text h2{
    text-align: center;
    font-size: 5rem;
}

.contact-container{
    background-color: var(--main-color);
    border-radius: 10px;
    width: 40%;
    max-width: 650px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_team{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 75px;
}

form{
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 15px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form textarea{
    max-width: 500px;
    max-height: 100px;
}

.contact-section{
    height: 25vh;
}

footer{
    width: 100%;
    background: var(--main-color);
    height: auto;
    font-family: Poppins, sans-serif;
    padding-top: 60px;
    color: #fff;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



.social-media-footer{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}



.footer-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}



.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footerNav{
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.footerNav li{
    list-style: none;
    margin: 0 75px;
    font-size: 20px;
    font-weight: bold;
    max-width: 500px;
}

.footerNav a{
    color: white;
    transition: color 0.15s ease;
}

.footerNav a:hover{
    color: black;
}


.footer-image img{
    width: 50%;
    height: 50%;
    color: white;
}


.social-media{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}



.overlapping-feature {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-template-rows: 650px;
  grid-template-columns: 1fr;
  align-items: stretch;
}
.overlapping-feature__container {
  width: 100%;
  max-width: 80%;
  display: flex;
  justify-content: center;
}
@media (max-width: 550px) {
  .overlapping-feature {
    grid-template-rows: 1fr !important;
  }
}
.overlapping-feature__image {
  position: relative;
  width: 34vw;
  max-width: 800px;
  height: 80vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.overlapping-feature__image img{
    height: 80vh;
    width: 34vw;
    object-fit: contain;
    border-radius: 12px;
    padding: 50px;
}

@media (max-width: 1140px) {
  .overlapping-feature__image {
    display: none;
  }


}
.overlapping-feature__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("images/tech.jpg");
  background-position: 80% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 3px 25px -10px #000;
}
@media (min-width: 1756px) {
  .overlapping-feature__image::after {
    background-position: 100% 70% !important;
  }
}
.overlapping-feature__content {
  width: 56vw;
  max-width: 1230px;
  background-color: #fff;
  box-shadow: -4px 5px 40px -20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 1140px) {
    .overlapping-feature__content {
        width: 100%;
    }

}

.overlapping-feature__content > div {
  width: 30vw;
  margin-left: 40%;
  text-align: left;
  align-items: flex-start;
}

@media (max-width: 550px) {
  .overlapping-feature__content > div {
    width: 100% !important;
    margin: 0 !important;
    padding: 30px;
  }
}

.overlapping-feature--left {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
}


.overlapping-feature--right {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
}
.overlapping-feature--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlapping-feature h2 {
  font: 600 37px "Poppins", Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.1em;
  text-transform: uppercase;
}
.overlapping-feature p {
  font: 500 16px "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
  padding-top: 20px;
}
.overlapping-feature h2,
.overlapping-feature p {
  margin: 0;
  color: #333;
}



.project {
  display: flex;
  justify-content: center;
  flex-grow: 1;
    margin-bottom: 100px;
}

.project > div:first-of-type {
  align-self: center;
}


.overlapping-feature--center--left{
    margin-right: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}








@media only screen and (max-width: 1000px) {

    html, body{
        width: 100%;
    }

    .logo {
        font-size: 2rem;
    }


      .footer-content{
        width: 100vw;
    }

    .footerNav{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .our_team{
        margin-bottom: 100px;
    }
    .swiper-slide{
        width: 80%;
    }

    .overlapping-feature h2{
        text-align: center;
    }

    .contact-outer-container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
     .contact-outer-container h2{
         font-size: 4rem;
        text-align: center;
         width: 100%;
    }
      .contact-outer-container p{
         font-size: 2rem;
          text-align: center;
          width: 90%;

    }

    .contact-text{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .social-media{
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .contact-container{
        width: 90%;
        height: 420px;
    }

}



/* CSS for responsive burger menu */

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    z-index: 100;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}


.hamburger .bar, .hamburger:after, .hamburger:before{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;

}


.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
}



.hamburger.is-active .bar{
    opacity: 0;
}


.mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: var(--main-color);
    padding-top: 120px;
    transition: 0.6s ease-in-out;
}


.mobile-nav.is-active{
    left: 0;
}

.mobile-nav a{
        justify-content: center;
    font-size: 2rem;
    font-weight: 700;
        display: block;
        margin: 0 auto 25px;

        text-align: center;
        width: 100%;
        max-width: 300px;
        height: 50px;
        padding: 12px 16px;
        background-color: lightseagreen;
    border-radius: 5px;
        color: white;
        text-decoration: none;
    }


.mobile-nav a:hover{
    background-color: lightsalmon;
}


@media (min-width: 767px){
    .mobile-nav{
        display: none;
    }

    .hamburger{
        display: none;
    }
}


@media (max-width: 767px){
    .navbar{
        display: none;
    }
}